# Functions

## functions without parameters

In [17]:
def add():
    a=10
    b=20
    c=a+b
    return c
add()

30

In [25]:
def add(x=10,y=20):
    c=x+y
    print(c)
add()

30

### return function is used to return an object

In [18]:
a=add()

In [20]:
print(a)

30

In [30]:
# add two numbers
def add(x=10,y=20):
    return x+y
add(x=15,y=30)

45

In [35]:
# z-score
def zscore(x,mean,sigma):
    return (x-mean)/sigma
zscore(10,8,2)

1.0

In [37]:
# square
def zscore(x):
    return (x**2)
zscore(10)

100

In [40]:
def zscore(x):
    return x**2
zscore(int(input("enter a value")))

enter a value5

25

In [61]:
# Swap direct
a=10
b=30
def swap(x,y):
    x,y=y,x
    return x,y
swap(a,b)

(30, 10)

In [51]:
# swap using 3rd variable
def swap_var(x,y):
    x=x+y
    y=x-y
    x=x-y
    
    return x,y
swap_var(15,9)

(9, 15)

In [5]:
# prime number
import math
def prime(num):
    if num<=1:
        return False
    if num%2==0 and num>2:
        return False
    for i in range(3,int(math.sqrt(num))+1,2):
        if num%i==0:
            return False
            break 
    return True
    
prime(217)

7

False

In [166]:
# args
def fun(x,y,*args):
    print("x",x)
    print("y",y)
    print(type(args))
    
    
fun(15,9,3,4,2,4)

x 15
y 9
<class 'tuple'>

In [197]:
# *args and add all the numbers
def fun(x,y,*args):
    sum=0
    for i in args:
        sum=sum+i
        i=i+1
    return x+y+sum 
    
fun(1,2,3,4,5,6)

21

## Default parameter

In [201]:
def add(a,b,c=4):
    return(a+b+c)
add(2,3)

9

In [211]:
# Recursion factorial
def fact(num):
    if num==0:
        return 1
    else:
        return num*(fact(num-1))
    
fact(4)

24

In [238]:
# print sum if >5 and mul if <5 for 5 values)
def val(a,b,c,d,e):
    lis=[a,b,c,d,e]
    sum=0
    mul=1
    for i in lis:
        if i>5:
            sum=sum+i
        elif i<5:
            mul=mul*i
    print(sum,mul)
                
val(2,3,5,6,6)

12 6